{% extends 'base.html.twig' %}

{% block body %}
<section class="back-office">
    <h1>Cinemas list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Address</th>
                <th>Mail</th>
                <th>Website</th>
                <th>Color</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cinema in cinemas %}
            <tr>
                <td><a href="{{ path('cinema_show', { 'id': cinema.id }) }}">{{ cinema.id }}</a></td>
                <td>{{ cinema.name }}</td>
                <td>{{ cinema.address }}</td>
                <td>{{ cinema.mail }}</td>
                <td>{{ cinema.website }}</td>
                <td>{{ cinema.color }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('cinema_show', { 'id': cinema.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('cinema_edit', { 'id': cinema.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cinema_new') }}" class="button">Create a new cinema</a>
        </li>
    </ul>
</section>
{% endblock %}
