{% extends 'base.html.twig' %}

{% block body %}
<section class="back-office">
    <h1>Cinema</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cinema.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ cinema.name }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ cinema.address }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ cinema.mail }}</td>
            </tr>
            <tr>
                <th>Website</th>
                <td>{{ cinema.website }}</td>
            </tr>
            <tr>
                <th>Color</th>
                <td>{{ cinema.color }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cinema_index') }}" class="button">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('cinema_edit', { 'id': cinema.id }) }}" class="button">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
</section>
{% endblock %}
