/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

/* HOME */

.app_home_section{
    background-color: #161616;
    border: 10px solid white;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
}

.app_home .app_home_section-main {
    position: relative;
    background-image: url('../img/home.jpeg');
    background-size: cover;
    background-position: center center;
    z-index: 0;
}

.app_home .app_home_section-main .filter {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: -1;
}

.app_home .app_home_section-main img {
    width: 400px;
    display: block;
    padding-bottom: 30px;
}

.app_home .app_home_section-main {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.app_home .app_home_section-main a {
    font-size: 12px;
    text-transform: uppercase;
    padding: 15px 45px 15px 45px;
    border:1px solid white;
    color:white;
    text-decoration: none;
    background-color: rgba(255,255,255,0.1);
    transition: all 0.3s;
}

.app_home .app_home_section-main a:hover {
    background-color: white;
    color:black;
    font-weight: 700;
}


/* LIST */

.app_home .app_home_section-list {
    color:white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app_home .app_home_section-list h2 {
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 50px;
}

.app_home .app_home_section-list header img {
    position: absolute;
    top: 30px;
    left:30px;
    width: 200px;
}

.app_home .app_home_section-list section {
    display: flex;
    flex-direction: row;
}

.app_home .app_home_section-list section article {
    width: 800px;
}

.app_home .app_home_section-list .container {
    height: 600px;
    overflow: auto;
}

.app_home .app_home_section-list .box {
    position: relative;
    background-color: white;
    color:black;
    padding: 0 25px 0 0;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    width: 300px;
    margin-bottom: 20px;
    margin-right: 20px;
    border-bottom: 5px solid red;
}

.app_home .app_home_section-list .box article {
    display: inline-block;
    vertical-align: top;
    width: 100px;
}

.app_home .app_home_section-list .box img {
    display: inline-block;
    vertical-align: top;
    height: 120px;
    padding-right: 20px;
}

.app_home .app_home_section-list .box h3 {
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 5px;
    width: 180px;
    line-height: 20px;
    font-size: 13px;
}

.app_home .app_home_section-list .box p {
    overflow: auto;
    width: 180px;
    margin: 0;
    padding: 0;
    font-size: 12px;
    height: 40px;
}

.app_home .app_home_section-list .box .clic {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

/* FICHE */

.app_fiche .app_home_section-list header img {
    position: absolute;
    top: 30px;
    left:30px;
    width: 200px;
}

.app_fiche {
    color:white;
}

.app_fiche .app_home_section-list{
    display: flex;
    justify-content: center;
    align-items: center;
}

.app_fiche .app_home_section-list .container{
    display: flex;
    flex-direction: row;
}

.app_fiche .boxContainer-fiche, .app_fiche .boxContainer-seance{
    width: 400px;
    padding-right: 50px;
}


.app_fiche .boxContainer-fiche img {
    width: 150px;
}

.app_fiche .boxContainer-fiche li {
    padding-top: 20px;
}

.app_fiche .boxContainer-fiche .title {
    padding-top: 10px;
    font-weight: 700;
}

.app_fiche .boxContainer-fiche .synopsis {
    height: 100px;
    overflow: auto;
}

.app_fiche .boxContainer-fiche .review {
    height: 100px;
    overflow: auto;
}


.app_fiche .container h2 {
    font-size: 18px;
    font-weight: 700;
}


.app_fiche .box-seance {
    background-color: white;
    color:black;
    padding: 15px;
    box-sizing: content-box;
    margin-top: 15px;
    border-bottom: 3px solid red;
    width: 300px;
}


.app_fiche .boxContainer-seance {
    height: 600px;
    overflow: auto;
}


/* Back office */

.back-office {
    width: 80%;
    margin: 150px auto;
}

.back-office h1{
    font-weight: 700;
    font-size: 28px;
    padding-bottom: 30px;
}

.back-office h2{
    font-weight: 700;
    font-size: 15px;
    padding-bottom: 15px;
    padding-top: 30px;
}

.back-office h3{
    font-weight: 700;
    font-size: 15px;
    padding-bottom: 15px;
    padding-top: 30px;
}


.back-office a{
    text-decoration: none;
    line-height: 20px;
    font-weight: 400;
    color: #5eb5e0;
}

.back-office ul{
    padding-bottom: 20px;
}

.back-office .button{
    padding: 15px;
    background-color: #5eb5e0;
    color:white;
    display: block;
    width: 200px;
    text-align: center;
    margin-bottom: 30px;
}

.back-office .button:hover{
    background-color: #0088CC;
}

.back-office tr{
    text-align: center;
}