{% extends '::base.html.twig' %}

{% block body %}
    <section class="app_fiche">
        <article class="app_home_section app_home_section-list">
            <header>
                <img src="img/logo.svg" alt="logo">
            </header>
            <section>
                <article class="container">
                    <article class="boxContainer-fiche">
                        <img src="{{ film.cover }}" alt="logo">
                        <article>
                            <ul>
                                <li class="title">{{ film.name }}</li>
                                <li class="autor">{{ film.filmMaker }}</li>
                                <li class="time">{{ film.duration }} min</li>
                                <li class="country">{{ film.source }}</li>
                                <li class="synopsis">{{ film.synopsis }}</li>
                                <li class="review">{{ film.review }}</li>
                            </ul>
                        </article>
                    </article>
                    <article class="boxContainer-seance">
                        <h2>Les Séances du film</h2>
                        {% for seance in seances %}
                        <article class="box-seance">
                            <h3>Horaire : {{ seance.hour }}</h3>
                            {% if seance.cinema is defined %}
                            <p>Cinema : {{ seance.cinema }}</p>
                            {% else %}
                            <p>Cinema : encore non connu</p>
                            {% endif %}
                        </article>
                        {% endfor %}
                    </article>
                </article>
            </section>
        </article>
    </section>
{% endblock %}
