{% extends '::base.html.twig' %}

{% block body %}
    <section class="app_home">
        <article class="app_home_section app_home_section-main">
            <section>
                <img src="{{ asset('bundles/app/img/logo.svg') }}" alt="logo">
                <a href="#container">Cinémas</a>
                <a href="#container">Séances</a>
            </section>
            <div class="filter"></div>
        </article>
        <article class="app_home_section app_home_section-list">
            <header>
                <img src="{{ asset('bundles/app/img/logo.svg') }}" alt="logo">
            </header>
            <section>
                <article class="container" id="container">
                    <h2>Liste des séances du jour</h2>
                    {% for seance in seances %}
                        <article class="box">
                            <img src="{{ seance.film.cover }}" alt="logo">
                            <article>
                                <h3>{{ seance.filmName }}</h3>
                                <p>{{ seance.hour }}</p>
                            </article>
                            <a href="/film/{{ seance.filmId }}" class="clic"></a>
                        </article>
                    {% endfor %}
                </article>
            </section>
        </article>
    </section>
{% endblock %}