{% extends 'base.html.twig' %}

{% block body %}
<section class="back-office">
    <h1>Seance edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" class="button"/>
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('seance_index') }}" class="button">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete" class="button">
            {{ form_end(delete_form) }}
        </li>
    </ul>
</section>
{% endblock %}
