{% extends 'base.html.twig' %}

{% block body %}
<section class="back-office">
    <h1>Seances list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Filmname</th>
                <th>Date</th>
                <th>Hour</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for seance in seances %}
            <tr>
                <td><a href="{{ path('seance_show', { 'id': seance.id }) }}" class="button">{{ seance.id }}</a></td>
                <td>{{ seance.filmName }}</td>
                <td>{% if seance.date %}{{ seance.date|date('Y-m-d') }}{% endif %}</td>
                <td>{{ seance.hour }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('seance_show', { 'id': seance.id }) }}" class="button">show</a>
                        </li>
                        <li>
                            <a href="{{ path('seance_edit', { 'id': seance.id }) }}" class="button">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('seance_new') }}" class="button">Create a new seance</a>
        </li>
    </ul>
</section>
{% endblock %}
