{% extends 'base.html.twig' %}

{% block body %}
<section class="back-office">
    <h1>Seance</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ seance.id }}</td>
            </tr>
            <tr>
                <th>Filmname</th>
                <td>{{ seance.filmName }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if seance.date %}{{ seance.date|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Hour</th>
                <td>{{ seance.hour }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('seance_index') }}" class="button">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('seance_edit', { 'id': seance.id }) }}" class="button">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete" class="button">
            {{ form_end(delete_form) }}
        </li>
    </ul>
</section>
{% endblock %}
