{% extends '::base.html.twig' %}

{% block title %}AppBundle:Back:index{% endblock %}

{% block body %}
<section class="back-office">
    <h1>Bienvenue sur le backoffice</h1>
        {% if not isAdmin %}
            {% if manager.cinemas|length > 1 %}
                <h2>Mes cinémas</h2>
                <ul class="list">
                {% for cinema in manager.cinemas %}
                    <li class="list-item"><a href="/admin/cinema/{{ cinema.id }}">cinema.name</a></li>
                {% endfor %}
                </ul>
            {% else %}
                <a href="/admin/cinema/{{ manager.cinemas[0].id }}" class="button">Gérer mon cinéma</a>
            {% endif %}
        {% endif %}

        {% if isAdmin %}
            {% if isDbEmpty is not empty %}
            <h2>Remplir la base de données (films et séances)</h2>
            <form action="/admin/fillfront" method="post">
                <input type="submit" value="C'est parti !">
            </form>
                <h2>Remplir la base de données (cinémas)</h2>
                <form action="/admin/fillback" method="post">
                    <input type="submit" value="C'est parti !">
                </form>
            {% endif %}
            <h2>Exploitants</h2>
            <ul>
                {% if managers %}
                    {% for manager in managers %}
                        {# this property has been added dynamically in the controller. #}
                        {% if manager.hasOneCinema is defined and manager.hasOneCinema %}
                            {#lazy to make a loop for one cinema.#}
                            <li>{{ manager.username }} gérant le cinéma <a href="/admin/cinema/{{ manager.cinemas[0].id }}">{{ manager.cinemas[0].name }}</a></li>
                        {# this property has been added dynamically in the controller. #}
                        {% elseif manager.hasManyCinemas is defined and manager.hasManyCinemas %}
                            <li>
                                <span>{{ manager.username }} gérant les cinémas</span>
                                <ul>
                                    {% for cinema in manager.cinemas %}
                                        <li><a href="/admin/cinema/{{ cinema.id }}">{{ cinema.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% else %}
                            <li>Cet exploitant n'a pas encore de cinéma</li>
                        {% endif %}
                    {% endfor %}

                {% else %}
                    <li>Il n'y a aucun exploitant pour le moment !</li>
                {% endif %}
            </ul>
            <a href="/register" class="button">Créer un exploitant</a>
        {% endif %} {# endif isAdmin #}
            {# CRUD DE FILM #}
            <h2>Films</h2>
            <p><a href="/admin/film/new" class="button">Nouveau film</a></p>
            <h3>Administration des films</h3>
            <ul>
                {% for film in films %}
                    <li><a href="/admin/film/show/{{ film.id }}">{{ film.name }}</a></li>
                {% endfor %}
            </ul>
</section>
{% endblock %}
