{% extends 'base.html.twig' %}

{% block body %}
<section class="back-office">
    <h1>Films list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Review</th>
                <th>Filmmaker</th>
                <th>Duration</th>
                <th>Synopsis</th>
                <th>Cover</th>
                <th>Source</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for film in films %}
            <tr>
                <td><a href="{{ path('film_show', { 'id': film.id }) }}" >{{ film.id }}</a></td>
                <td>{{ film.name }}</td>
                <td>{{ film.review }}</td>
                <td>{{ film.filmMaker }}</td>
                <td>{{ film.duration }}</td>
                <td>{{ film.synopsis }}</td>
                <td>{{ film.cover }}</td>
                <td>{{ film.source }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('film_show', { 'id': film.id }) }}" class="button">show</a>
                        </li>
                        <li>
                            <a href="{{ path('film_edit', { 'id': film.id }) }}" class="button">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('film_new') }}" class="button">Create a new film</a>
        </li>
    </ul>
</section>
{% endblock %}
