{% extends 'base.html.twig' %}

{% block body %}
<section class="back-office">
    <h1>Film creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" class="button" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('film_index') }}" class="button">Back to the list</a>
        </li>
    </ul>
</section>
{% endblock %}
