{% extends 'base.html.twig' %}

{% block body %}
<section class="back-office">
    <h1>Film</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ film.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ film.name }}</td>
            </tr>
            <tr>
                <th>Review</th>
                <td>{{ film.review }}</td>
            </tr>
            <tr>
                <th>Filmmaker</th>
                <td>{{ film.filmMaker }}</td>
            </tr>
            <tr>
                <th>Duration</th>
                <td>{{ film.duration }}</td>
            </tr>
            <tr>
                <th>Synopsis</th>
                <td>{{ film.synopsis }}</td>
            </tr>
            <tr>
                <th>Cover</th>
                <td>{{ film.cover }}</td>
            </tr>
            <tr>
                <th>Source</th>
                <td>{{ film.source }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('film_index') }}" class="button">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('film_edit', { 'id': film.id }) }}" class="button">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete" class="button">
            {{ form_end(delete_form) }}
        </li>
    </ul>
</section>
{% endblock %}
